@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --dark-bg: #1F2937;
}
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    justify-content: space-between;
    align-items: center;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.logo {
    font-size: 24px;
    margin: 16px 0;
    color: #F9FAF8;
    font-weight: 700;
}
.flex {
    display: flex;
}
.hero {
    display: flex;
    align-items: center;
    padding: 50px 0 100px;
}
.hero-section {
    justify-content: space-between;
}
.hero-image {
    flex-basis: 400px;
    height: 200px;
    background-color: grey;
}
.hero-content {
    flex-basis: 400px;
}
.hero-content h2 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}
.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
.bg-dark {
    background-color: var(--dark-bg);
}
.btn {
    background-color: #3882F6;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: 400;
}
.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    gap: 30px;
}
.box {
    max-width: 150px;
}
/* .box p {
    color: #1f2937;
} */
.info {
    padding-bottom: 100px;
    width: 100%;
}
.info .img {
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}
.info h1 {
    text-align: center;
    margin: 50px 0;
}
.main-container {
    display: flex;
    flex-direction: column;
}
.main-container > div,
.main-container > footer {
    flex: auto;
}
.quote {
    background-color: #E5E7EB;
    padding: 120px 0;
}
.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
.quote-author {
    text-align: right;
    font-weight: 900;
    font-size: 24px;
}
.action {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 50px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* line-height: 0.4; */
}
.action,
.action button {
    background-color: #3882F6;
    border-radius: 10px;
}
.action button {
    font-size: 22px;
    padding: 10px 35px;
    border-radius: 10px;
    color: #F9FAF8;
    border: 1px solid;
}
.action h1 {
    color: #F9FAF8;
    margin-bottom: 10px;
}
.action p {
    color: #dadbde;
    font-size: 20px;
    margin-top: 10px;
}
footer {
    color: #F9FAF8;
    text-align: center;
    font-size: 23px;
}

header,
header ul,
.hero-section {
    flex-wrap: wrap;
}