*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --dark-bg: #1F2937;
}
body,
html {
    margin: 0;
    padding: 0;
}
header {
    justify-content: space-between;
    align-items: center;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.logo {
    font-size: 24px;
    margin: 16px 0;
    color: #F9FAF8;
}
.flex {
    display: flex;
}
.hero {
    height: 450px;
    display: flex;
    align-items: center;
}
.hero-section {
    justify-content: space-between;
}
.hero-image {
    flex-basis: 400px;
    height: auto;
    background-color: grey;
}
.hero-content {
    flex-basis: 400px;
}
.hero-content h2 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}
.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0;
}
.container {
    width: 900px;
    margin: 0 auto;
}
.bg-dark {
    background-color: var(--dark-bg);
}
.btn {
    background-color: #3882F6;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
}